<!DOCTYPE html>
<head>
    <title>User Profile</title>
</head>
<body>
    <%- include('./subviews/navbar')-%>
    <%- include('./subviews/sideNavbar-2')-%>
    <div class="main_content">
        <div class="info">
            <div class="card " style="width:100%rem">
            
                <h4 class="card-header p-3">Account Details
                    <a href="/user/updateProfile/<%= user._id%>" class="btn btn-primary" 
                        style="margin-left: 48rem"><i class="fas fa-edit"></i>&nbsp;Update</a>
                </h4>
                <div class="card-body">
                    <div class="col-12"><%- include('./subviews/messages') -%> </div>
                    <div class="card-text px-3 row" style="line-height: 40px">
                        <div class = "col-sm-2"><b>
                            Account No. <br>
                            Name <br>
                            D.O.B <br>
                            Gender <br>
                            Address <br><br><br>
                            Mobile No. <br>
                            Email Id <br>
                        </b></div>
                        <div class = "col-sm-10">
                            :&nbsp;<%= user.accountNo %><br>
                            :&nbsp;<%= user.fname%>&nbsp;<%= user.mname%>&nbsp;<%= user.lname%><br>
                            :&nbsp;<%= user.birthDate%><br>
                            :&nbsp;<%= user.gender%><br>
                            :&nbsp;<%= user.address1%><br>
                             &ensp;<%= user.address2%>,<br>
                             &ensp;<%= user.city%>,&ensp;<%= user.state%>&nbsp;-&nbsp;<%= user.zip%>.<br>
                            :&nbsp;+91&nbsp;<%= user.phone%><br>
                            :&nbsp;<%= user.email%><br>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                        <a href="/user?id=<%= user._id%>" class="btn btn-danger">Go Back</a>
                </div>
            
            </div>
        </div>
</body>